/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

.navigation {
	margin: 20px 20;
	padding: 20px 20;
	display: inline-block;
	word-spacing: 55px;
}



header {
	margin: 75px;
	padding: 200;
	font-size: 300%;
	width: 300px;
	word-spacing: 400px;
	text-align: center;
	float: left;
   
	
}


aside {
	font-size: 35%;
	padding: 5px;
	border: 1px solid silver;
	margin: 10px 5px;
	text-align: center;
}

.logo2 {
	float: right;

	
}

.section1 {
	margin: 10px;
	padding: 10px;
	width: 400px;
	border: 1px 0 solid grey;
	float: left;
}

.section2 {
	margin: 10px;
	padding: 10px;
	width: 400px;
	float: right;
}

.section3 {
	float: left;
	margin: 10px;
	padding: 10px;
	width: 200px;
}

.section4 {
	margin: 10px;
	padding: 10px;
	width: 500px;
	float: center;
}

.section5 {
	margin: 10px;
	padding: 10px;
	width: 200px;
	float: right;
	
}

 .header {
	margin: 10px;
	padding: 10px;
	width: 200px;
	font-family: 'Bangers', cursive;
}

.navigation2 {
	margin: 10px;
	padding: 10px;
	width: 300px;
	
}